# Project: Investigating Netflix Movies

Perform exploratory data analysis on the ```netflix_data.csv``` data to understand more about movies from the 1990s decade.

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

netflix_df = pd.read_csv('netflix_data.csv')
print(netflix_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4812 entries, 0 to 4811
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       4812 non-null   object
 1   type          4812 non-null   object
 2   title         4812 non-null   object
 3   director      4812 non-null   object
 4   cast          4812 non-null   object
 5   country       4812 non-null   object
 6   date_added    4812 non-null   object
 7   release_year  4812 non-null   int64
 8   duration      4812 non-null   int64
 9   description   4812 non-null   object
 10  genre         4812 non-null   object
dtypes: int64(2), object(9)
memory usage: 413.7+ KB
None

In [11]:
print(netflix_df.head())

  show_id     type  title           director  \
0      s2    Movie   7:19  Jorge Michel Grau
1      s3    Movie  23:59       Gilbert Chan
2      s4    Movie      9        Shane Acker
3      s5    Movie     21     Robert Luketic
4      s6  TV Show     46        Serdar Akar

                                                cast        country  \
0  Demián Bichir, Héctor Bonilla, Oscar Serrano, ...         Mexico
1  Tedd Chan, Stella Chung, Henley Hii, Lawrence ...      Singapore
2  Elijah Wood, John C. Reilly, Jennifer Connelly...  United States
3  Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...  United States
4  Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...         Turkey

          date_added  release_year  duration  \
0  December 23, 2016          2016        93
1  December 20, 2018          2011        78
2  November 16, 2017          2009        80
3    January 1, 2020          2008       123
4       July 1, 2017          2016         1

                                         description             genre
0  After a devastating earthquake hits Mexico Cit...            Dramas
1  When an army recruit is found dead, his fellow...     Horror Movies
2  In a postapocalyptic world, rag-doll robots hi...            Action
3  A brilliant group of students become card-coun...            Dramas
4  A genetics professor experiments with a treatm...  International TV

In [12]:
# Movies in 1990s
movies_90s = netflix_df[(netflix_df["type"] == "Movie") & netflix_df["release_year"].between(1990, 1999)]
print(movies_90s)

     show_id   type                            title            director  \
6         s8  Movie                              187      Kevin Reynolds
118     s167  Movie                A Dangerous Woman  Stephen Gyllenhaal
145     s211  Movie           A Night at the Roxbury    John Fortenberry
167     s239  Movie  A Thin Line Between Love & Hate     Martin Lawrence
194     s274  Movie                     Aashik Awara         Umesh Mehra
...      ...    ...                              ...                 ...
4672   s7536  Movie                      West Beirut        Ziad Doueiri
4689   s7571  Movie      What's Eating Gilbert Grape     Lasse Hallström
4718   s7624  Movie                   Wild Wild West    Barry Sonnenfeld
4746   s7682  Movie                       Wyatt Earp     Lawrence Kasdan
4756   s7695  Movie                      Yaar Gaddar         Umesh Mehra

                                                   cast        country  \
6     Samuel L. Jackson, John Heard, Kelly Rowan, Cl...  United States
118   Debra Winger, Barbara Hershey, Gabriel Byrne, ...  United States
145   Will Ferrell, Chris Kattan, Dan Hedaya, Molly ...  United States
167   Martin Lawrence, Lynn Whitfield, Regina King, ...  United States
194   Saif Ali Khan, Mamta Kulkarni, Mohnish Bahl, S...          India
...                                                 ...            ...
4672  Rami Doueiri, Mohamad Chamas, Rola Al Amin, Ca...         France
4689  Johnny Depp, Leonardo DiCaprio, Juliette Lewis...  United States
4718  Will Smith, Kevin Kline, Kenneth Branagh, Salm...  United States
4746  Kevin Costner, Dennis Quaid, Gene Hackman, Dav...  United States
4756  Mithun Chakraborty, Saif Ali Khan, Somy Ali, P...          India

            date_added  release_year  duration  \
6     November 1, 2019          1997       119
118      April 1, 2018          1993       101
145   December 1, 2019          1998        82
167   December 1, 2020          1996       108
194       June 1, 2017          1993       154
...                ...           ...       ...
4672  October 19, 2020          1999       106
4689   January 1, 2021          1993       118
4718   January 1, 2020          1999       106
4746   January 1, 2020          1994       191
4756      July 1, 2017          1994       148

                                            description           genre
6     After one of his high school students attacks ...          Dramas
118   At the center of this engrossing melodrama is ...          Dramas
145   After a run-in with Richard Grieco, dimwits Do...        Comedies
167   When a philandering club promoter sets out to ...        Comedies
194   Raised by a kindly thief, orphaned Jimmy goes ...          Dramas
...                                                 ...             ...
4672  Three intrepid teens roam the streets of Beiru...          Dramas
4689  In a backwater Iowa town, young Gilbert is tor...  Classic Movies
4718  Armed with an ingenious arsenal, two top-notch...          Action
4746  Legendary lawman Wyatt Earp is continually at ...          Action
4756  When his brother becomes involved in a deadly ...          Dramas

[183 rows x 11 columns]

In [ ]:
# Most frequent movie duration in the 1990s:
movies_90s["duration"].plt.hist()
plt.show()

In [5]:
# Most frequent movie duration in the 1990s

duration = netflix_df[netflix_df['release_year'].between(1990, 1999)]['duration'].max()
print(f"Most frequent movie duration in the 1990s: {duration}")

Most frequent movie duration in the 1990s: 195

In [10]:
# A movie is considered short if it is less than 90 minutes. Count the number of short action movies released in the 1990s and save this integer as short_movie_count

short_movie_count = netflix_df[(netflix_df["release_year"].between(1990, 1999)) & (netflix_df["duration"] < 90) & (netflix_df["genre"] == "action")].sum()
print(short_movie_count)

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
duration        0
description     0
genre           0
dtype: object